// assets/styles/variables.scss

// Colores
$primary-color: #e4750e;
$secondary-color: #6c757d;
$accent-color: #ffc107;

// Tamaños de fuente
$base-font-size: 16px;
$heading-font-size: 24px;

// Espaciado
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

